
// start footer
footer {
  background-color: #333;

  .container {
    @include padding-top-bottom(30px);
    h3{
      margin-top: 0;
    }
    a {
      img {
        filter: invert(1);
        width: 100px;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      a {
        color: $white;
        display: inline-block;
        margin-bottom: 10px;
        i {
          margin-right: 8px;
        }
      }
      @include medium-screen {
        flex-direction: row;
        justify-content: space-between;
        
      }
    }
  }
}
