@import 'variables.scss';

@mixin medium-screen {
    @media (min-width: $mobile-media ) {
        @content;
    }
}


@mixin large-screen {
  @media (min-width: $tablet-media ) {
      @content;
  }
}

 @mixin gradient-color {
  background: radial-gradient(ellipse at top left, $secondary-color, $primary-color);
 }

@mixin padding-top-bottom ($p) {
    padding-top: $p;
    padding-bottom: $p;
}

%flex {
    display: flex;
    align-items: center;
}

%flex-start {
    @extend %flex;
    justify-content: flex-start;

}

%flex-center {
    @extend %flex;
    justify-content: center;
}

%flex-between {
  @extend %flex;
  justify-content: space-between;
}
.button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 16px 26px;
    border-radius: 40px;
    color: $white;
    opacity: .9;
    @include gradient-color();

    &:hover {
        opacity: .8;
        color: $white;
    }
}
