$mobile-media: 768px;
$tablet-media:991px;
$head-height :62px;
$section-padding : 30px 0;
$font-18: 18px;
$backround-gray :#f4f4f4;
$secondary-color :#FF79DA;
$primary-color: #9356DC;
$tertiary-color:#99E2D0;
$text-color: #555;
$white:#fff;